<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lecai.quwen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //这个权限用于进行网络定位
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    //这个权限用于访问GPS定位
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //获取统计数据
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="R95hhTpjkVmK6vooZDj5xKsPGhk6qn0i" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v5.0.0" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="SDKSample"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".SettingActivity.SettingActivity" />
        <activity android:name=".DragGridView.DragGridActivity">
            <intent-filter>
                <action android:name="startDragGridActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Mine.Help.HelpActivity">
            <intent-filter>
                <action android:name="startHelpActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Mine.Massage.MassageActivity">
            <intent-filter>
                <action android:name="startMassageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Task.Mentor.MentorActivity">
            <intent-filter>
                <data
                    android:host="task"
                    android:path="/Mentor"
                    android:port="8888"
                    android:scheme="quwen" />

                <action android:name="startMentorActivity" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Task.Assemble.AssembleActivity">
            <intent-filter>
                <data
                    android:host="task"
                    android:path="/assemble"
                    android:port="8888"
                    android:scheme="quwen" />

                <action android:name="startAssembleActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Task.PunchTheClock.PunchTheClockActivity">
            <intent-filter>
                <action android:name="startPunchTheClockActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Task.Mentor.BindingMaster.BindingMasterActivity">
            <intent-filter>
                <action android:name="startBindingMasterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Task.Assemble.MemberInformation.MemberInformationActivity">
            <intent-filter>
                <action android:name="startMemberInformationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Mine.QYFE.QYFEActivity">
            <intent-filter>
                <action android:name="startQYFEActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Mine.QYFE.DirectionalGift.DirectionalGiftActivity">
            <intent-filter>
                <action android:name="startDirectionalGiftActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Mine.QYFE.Realize.RealizeActivity">
            <intent-filter>
                <action android:name="startRealizeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Task.Ranking.RankingActivity">
            <intent-filter>
                <action android:name="startRankingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Mine.LogInActivity">
            <intent-filter>
                <action android:name="startLogInActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Mine.QYFE.Realize.Record.RecordActivity">
            <intent-filter>
                <action android:name="startRecordActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.Fragment.Mine.Massage.MessageDetail.MessageDetailActivity">

            <intent-filter>
                <action android:name="startMessageDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service android:name=".Service.MessageService"/>
    </application>

</manifest>